:root {
    --primary-color: #151515;
    --secundary-color: white;
    --primary-color-light: #303030;
    --green: #24FF00;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: var(--primary-color);
    color: var(--secundary-color);
    height: 95vh;
    margin: 0;
}

hr {
    color: var(--secundary-color);
    width: 100%;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 1.7rem;
}

.text-box {
    display: flex;
    justify-content: center;
}

.text-box__container {
    background-color: var(--primary-color-light);
    border-radius: 50px;
    width: 50%;
    display: flex;
    flex-direction: row;
}

.text-box__input {
    padding: 15px 30px 15px 30px;
    background-color: transparent;
    border: none;
    color: var(--secundary-color);
    font-size: 1.3rem;

    width: 90%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.add__contaier {
    width: 10%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--green);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

.add__icon {
    font-size: 1.8rem;
    color: var(--primary-color-light);
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.choice {
    margin-right: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice__container {
    background-color: var(--secundary-color);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

/* Clase para Hover en Touch */
.touch-choice {
    background-color: var(--green);
}

.touch-reset {
    color: var(--green);
}

/* Solo cuando el hover está habilitado, excluye moviles */
@media (hover: hover) {
    .choice__container:hover {
        background-color: var(--green);
    }
    .reset__container:hover {
        color: var(--green);
    }
}

.choice__icon {
    text-decoration: none;
    color: var(--primary-color);   
    font-size: 2rem; 
}

.reset {
    margin-left: 30px;
}

.reset__container {
    font-size: 1.8rem;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    -webkit-tap-highlight-color: transparent;
}

.answers__dots {
    margin-top: 100px;
    padding: 0 50px 0 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: var(--secundary-color);
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
}

.dot--green {
    background-color: var(--green);
}

.win {
    margin-top: 100px;
    text-align: center;
    height:10px;
}

.win__text {
    font-size: 2rem;
}

@media screen and (max-width: 900px) {
    .text-box__container {
        width: 80%;
    }

    .add__contaier {
        width: 20%;
    }
}
